/* <!-- Author: Jasmine Sloan -->
<!-- MIU: Week 2 Project -->
<!-- Term: 1204 -->
<!-- Southern Style DJ's --> 
*/

body{
	/* Safari and Chrome */
	background:-webkit-linear-gradient(top,#ab242f,#000);
	/* Firefox */
	background:-moz-linear-gradient(top,#ab242f,#000);
	color:#000;
	display:block;
	margin:0px;
	overflow:scroll;
}
img{
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:100%;
	opacity:0.6;
	filter:alpha(opacity=60); /* For IE8 and earlier */
}
h1{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 35px;
	color: #000;
	margin: 30px 0px 10px 0px;
	text-align: center;
	font-weight: bold;
}
